/*------------------forum-controls------------------*/
.forum-controls {

}

#filter-search-sort {

}

#search-posts {

}

#search-input {

}

.sort-button {
    
}

#new-post-button {

}


/*------------------post-creation------------------*/
.modal {

}

#post-title {

}

#post-body {

}

#post-submit {

}

#post-cancel {

}

.posts-feed {

}


