body {
    background-color: rgb(169, 226, 115);
    font-family: Bahnschrift;
}

a {
    color: aliceblue;
    font-size: 18px;
    text-decoration: none;
    padding: 20px;
    margin-right: 5px;
    background-color: darkgreen;
    width: 10vw;
    text-align: center;
}

a:hover {
    background-color: rgb(13, 153, 13);
}

#header {
    background-color: rgb(0, 68, 0);
    left: 0;
    right: 0;
    display: flex;
    color: aliceblue;
}

#web-name {
    margin-left: 20px;
}

#navigation {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    right: 0;
    margin-left: 15%;
    margin-right: auto;
}

section h1 {
    font-size: 40px;
    top: 20px;
    max-width: 80%;
    padding-left: 10%;
    padding-right: auto;
}

section p {
    font-size: 18px;
    top: 40px;
    max-width: 80%;
    padding-left: 10%;
    padding-right: auto;
}

section {
    min-height: 60vh;
    margin: 0px 20px 10px 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
}

#aside-section {
    background-color: darkcyan;
    width: 20vw;
    min-height: 60vh;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#home {
    background-color: aliceblue;
}

#news {
    background-color: aliceblue;
}

#about {
    background-color: aliceblue;
}

#contacts {
    background-color: aliceblue;
}