body {
    background-color: rgb(0, 0, 0);
    font-family: VCR_OSD, monospace;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@font-face {
  font-family: VCR_OSD;
  src: url(../files/VCR_OSD_MONO_1.001.ttf) format("truetype");
}

* {
    box-sizing: border-box;
}

/*------------------top-header------------------*/
#top-header {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    flex-direction: row;
    gap: 25px;
}

.langauge-buttons {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-size: 14px;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border: none;
    font-family: VCR_OSD;
}

.langauge-buttons:hover {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

.dropdown-top {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-button-top {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: VCR_OSD;
    border: none;
    font-size: 14px;
    padding: 5px 8px 5px 8px;
}

.nav-button-top:hover {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

.dropdown-top:hover .dropdown-content-top {display: flex;}

.dropdown-content-top {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    min-width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 1000;
    gap: 3px;
}

.dropdowned-button-top {
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    padding: 5px 8px 5px 8px;
}

.dropdowned-button-top:hover {
    background-color: #000000;
    color: #ffffff;
}

/*------------------header-section------------------*/
.nav-button {
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    margin-right: 5px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    border-color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: VCR_OSD;
    min-width:fit-content;
    width: 10vw;
    margin: 5px;
}

#logo {
    left: 30px;
}

.nav-button:hover {
    background-color: #ffffff;
    color: #000000;
}

.nav-button:active {
    background-color: #525252;
}

#header {
    background-color: rgb(0, 0, 0);
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    max-width: 100vw;
    margin: 10px;
}

#bottom-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#web-name {
    margin-left: 20px;
}

#navigation {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    justify-content: right;
    margin-right: 1%;
}


/*------------------dropdown-menu-(content)--------*/
.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    min-width: 100%;
    background-color: #000000;
    border-radius: 8px;
    overflow: hidden;
    z-index: 1000;
    outline: 3px solid #fff;
}

.dropdowned-button {
    color: #fff;
    text-decoration: none;
    padding: 8px;
    background-color: #000000;
}

.dropdown:hover .dropdown-content {
    display: flex;
}
.dropdowned-button:hover {
    background-color: #ffffff; color: #000000;
}
.dropdowned-button:active {
    background-color: #525252;
}

.dropbtn:hover {
    background-color: #ffffff;
    outline: 1px solid #fff;
    border-color: #fff;
    color: #000000;
}

/*------------------regular-sections------------------*/
section h1 {
    font-size: 40px;
    top: 20px;
    max-width: 80%;
    padding-left: 10%;
    padding-right: auto;
}

section p {
    font-size: 18px;
    top: 40px;
    max-width: 80%;
    padding-left: 10%;
    padding-right: auto;
}

.regular-section {
    min-height: 85vh;
    margin: 0px 20px 10px 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#home {
    max-width: 100vw;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    border-color: rgb(255, 255, 255);
}

#sadalas {
    max-width: 90vw;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    border-color: rgb(255, 255, 255);
}

#about {
    max-width: 100vw;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    border-color: rgb(255, 255, 255);
}

#contacts {
    max-width: 100vw;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    border-color: rgb(255, 255, 255);
}

/*------------------aside-section------------------*/
#aside-section {
    background-color: rgb(0, 0, 0);
    width: 20vw;
    min-height: 85vh;
    height: auto;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    border-color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
}

/*------------------cards-and-animations------------------*/
#cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 20px;
    width: auto;
    margin: 10px;
    transition: 0.5s;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    border-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.card:hover {
    transform: scale(1.25);
    z-index: 2;
}

.card-button {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: VCR_OSD;
}

.card-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.card-button:active {
    background-color: rgb(75, 75, 75);
    color: rgb(0, 0, 0);
    padding: 12px;
    border-color: rgb(0, 0, 0);
}


/*------------------footer-section------------------*/
#footer-section {
    background-color: black;
    color: rgb(255, 255, 255);
    width: 100vw;
    padding: 5px;
    right: 0;
    left: 0;
    text-align: center;
}

#pomodoro-card {
    background-color: red;
}

#task-card {
    background-color: white;
}

#eisenhower-card {
    background-color: green;
}

#calendar-card {
    background-color: rgb(236, 183, 114);
}

/*------------------responsivity------------------*/
@media (max-width: 800px) {

    #navigation {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    };

    #logo {
        max-height: 15vh;
        height: auto;
        margin-left: 10px;
    };

    .regular-section p, li {
        font-size: 12px;
    };

    .regular-section h1 {
        padding-top: 70px;
        margin-top: -70px;
    }
}